@media screen and (min-width: 1024px) {
	#app-view {
		width: 80%;
	}
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
	#app-view {
		width: 90%;
	}
}

@media screen and (max-width: 768px) {
	#app-view {
		width: 100%;
	}
}

html {
	font-size: 16px;
}

div.message {
	text-align: left;
	background-color: lavender;
}

div.message.my-message {
	text-align: right;
	background-color: lightblue;
}

#app-menu li {
	background-color: purple;
	list-style: none;
}

#app-menu a {
	text-decoration: none;
	color: white;
}

#app-menu li:hover {
	background-color: rgb(216, 70, 216);
	text-decoration: none;
}

#app-menu a:hover {
	background-color: rgb(216, 70, 216);
	text-decoration: none;
	color: black;
}

.room-list * {
	text-decoration: none;
	color: black;
	list-style: none;
}

.room-list li:hover {
	background-color: rgb(216, 70, 216);
}
