@media screen and (min-width: 1024px) {
	#app-view {
		width: 80%;
	}
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
	#app-view {
		width: 90%;
	}
}

@media screen and (max-width: 768px) {
	#app-view {
		width: 100%;
	}
}

html {
	font-size: 16px;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol";
}

ul {
	padding: 0;
}

#app-menu {
	display: flex;
	height: 50px;
	font-size: 1.5rem;
	background-color: navy;
}

#app-menu li {
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-control {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: navy;
	height: 64px;
}

.room-list {
	font-size: 1.2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}

.room-list > li {
	height: 30px;
	width: 100%;
}

.page-control button {
	padding: 8px 20px;
}

.page-control input {
	padding: 8px 0;
}

span.message-user {
	font-weight: bold;
}

div.message {
	text-align: left;
	background-color: lavender;
}

div.message.my-message {
	text-align: right;
	background-color: lightblue;
}

#app-menu li {
	list-style: none;
	width: 100%;
	height: 100%;
}

#app-menu a {
	text-decoration: none;
	color: white;
}

#app-menu li:hover {
	background-color: blueviolet;
	text-decoration: none;
}

#app-menu a:hover {
	text-decoration: none;
	color: black;
}

.room-list * {
	text-decoration: none;
	color: black;
	list-style: none;
}

.room-list li:hover {
	background-color: blueviolet;
}
